body {
    box-sizing: border-box;
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #001a33;
}

#container {
    display: grid;
    background-color: rgb(28, 54, 138);
    justify-content: center;
    justify-items: center;
}

#result-container {
    background-color: rgb(37, 37, 37);
    height: 2rem;
    width: 80%;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    font-weight: bold;
    color: white;
}

#input-container {
    display: flex;
    flex-direction: column;
}

#search-latlong {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        width: 49%;
        // margin: 1rem;
    }
}

.btn {
    padding: 1rem 1.5rem;
    border: none;
    font-size: 1rem;
    margin: 1rem;
    color: white;
    background-color: #0080ff;
    border-radius: 0.5rem;
    align-content: center;
    cursor: pointer;
    &:hover {
        background-color: rgb(37, 37, 37);
    }
}

// .btn:hover {
//     background-color: rgb(37, 37, 37);
// }
input[type=text] {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    margin: 0.5rem;
}

#search-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin-top: 0.5rem;
    .btn {
        margin: 0;
    }
}

#places-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 1rem;
    .btn {
        background-color: crimson;
        &:hover {
            background-color: rgb(37, 37, 37);
        }
        margin: 0rem;
    }
    .random-places-btn {
        background-color: rgb(170, 32, 140);
        &:hover {
            background-color: rgb(37, 37, 37);
        }
    }
}

@media only screen and (min-width: 22rem) {
    #search-latlong {
        flex-direction: column;
    }
    #places-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 35rem) {
    #search-latlong {
        flex-direction: row;
    }
    #search-buttons {
        grid-template-columns: 1fr 1fr;
    }
    #places-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}